html {
    width: 960px;
}

body {
    margin: 0%;
}

h2 {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 30px;
    text-align: center;
    margin: 0%;
}

ul {
    width: 150px;
    margin: 0%;
}
